.btn {
    padding: 14px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.btn-primary {
    background-color: #4CAF50;
    color: white;
    border: none;
}

.error-img {
    max-width: 500px;
    max-height: 500px;
}